/**
 * @author Devara Eko
 * @copyright 2017 UP45 Yogyakarta
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	background-image: url(../img/bg-1.png);
	background-repeat: repeat;
}
.main-content {
	margin-top: 50px;
}
.main-content .main-logo {
	margin-bottom: 10px;
}
.main-content .main-logo img {
	width: 250px;
}
.main-content .second-logo {
	margin-bottom: 10px;
}
.main-content .second-logo img {
	width: 50px;
}
.main-content .main-info {
	font-family: 'Calibri', sans-serif;
	font-size: 20px;
	color: #2C9688;
	text-align: center;
}
.main-content .main-button {
	margin-bottom: 15px;
}
.main-content .main-button .btn-insta {
	transition: background-color 0.7s ease;
	-webkit-transition: background-color 0.7s ease;
	background: #2C9688;
	color: #ffffff;
	width: 200px;
	padding: 2px;
	border-radius: 8px;
}
.main-content .main-button .btn-insta:hover {
	background: #4E5A62;
}
.main-content .main-button .btn-insta i {
	font-size: 40px;
}
.main-content .main-button .btn-insta span {
	font-size: 24px;
	vertical-align: text-bottom;
}
.main-content .main-scan img {
	width: 150px;
}
.main-content .main-scan p {
	font-family: 'Calibri', sans-serif;
	font-size: 20px;
	color: #2C9688;
}